<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Pear</string>
	<key>CFBundleExecutable</key>
	<string>Pear</string>
	<key>CFBundleIconFile</key>
	<string>PearCompanion</string>
	<key>CFBundleIdentifier</key>
	<string>com.rawsalmon69.pear.companion</string>
	<key>CFBundleName</key>
	<string>Pear</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.16</string>
	<key>CFBundleVersion</key>
	<string>37</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Made with 🍐 for Pear</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/RawSalmon69/pear-cli/main/companion/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2f8OK+0DtGDnxii2tI+wgBuYaUOL4dVlaftrANcDG7s=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
</dict>
</plist>
